.logo{
	height: 500px;
	width: 400px;
	align-self: center;
	justify-self: center;
}

.logo img{
	height: 500px;
	width: 400px;
	object-fit: cover;
}

/*@media (max-width: 950px){
	.logo{
		height: 500px;
		width: 400px;
		align-self: center;
		margin-left: 260px;
	}
	
	.logo img{
		height: 500px;
		width: 400px;
		object-fit: cover;
	}
}


@media (max-width: 450px){
	.logo{
		height: 500px;
		width: 400px;
		align-self: center;
	}
	
	.logo img{
		height: 500px;
		width: 400px;
		object-fit: cover;
	}
}*/